<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
    <!--AIzaSyBd9XdAXb7eYGqZu5ZnJFMKombNkwS20ek-->
    <!--AIzaSyCv3SpbnWSFPKR4C66o1vVDSobRi2jSgdE-->
    <!--AIzaSyBYbDD0YaFZOlGM0JydbQgNx_2BP76gmd4-->
    <add key="GeminiApiKey" value="AIzaSyBd9XdAXb7eYGqZu5ZnJFMKombNkwS20ek" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>
